.sidebar{
  height: 100%;
  width: 200px;
  background-color: #181c2e;
  position: fixed;
  overflow: auto;
}

.sidebar div{
  background: url(../../assets/cover.png);
  background-color: #181c2e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding-top: 30px;
}

.sidebar img{
  display: block;
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(2px 3px 6px #121212);
  -webkit-filter: drop-shadow(2px 3px 6px #121212);
}

.sidebar a{
  display: block;
  padding: 16px;
  display: flex;
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  align-items: center;
  transition: ease-in-out .4s;
}

.sidebar a:hover{
  background-color: #121212;
  color: #FFF;
}

.sidebar a svg{
  margin-right: .5em;
}

@media(max-width: 700px){
  .sidebar{
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar div{
    display: none;
  }
  .sidebar a{
    float: left;
  }
}
