.sidebar {
  margin: 0;
  padding: 0;
  background-color: var(--sidebar-bg); /* Variável */
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 200px;
  transition: background 0.3s;
}

.sidebar div {
  background: url('../../assets/cover.png');
  background-color: var(--sidebar-bg); /* Variável */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding-top: 35px;
}

.sidebar a, .logout-btn {
  display: flex;
  align-items: center;
  padding: 17px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: ease-in-out 0.4s;
}

.sidebar a:hover, .logout-btn:hover {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
}
