.login {
  width: 700px; /* Mais largo para os selects de secretaria/departamento */
  max-width: 95%;
  background-color: var(--container-bg);
  padding: 2.5em;
  border-radius: 8px;
}

.footer-sistema {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  color: var(--text-color); /* Para se adaptar aos temas */
  opacity: 0.8;
}

.footer-sistema p {
  margin: 2px 0;
}
