:root {
  --primary-bg: #f8f8f8;
  --sidebar-bg: #181c2e;
  --sidebar-text: rgba(255, 255, 255, 0.8);
  --sidebar-text-hover: #FFF;
  --container-bg: #FFF;
  --text-color: #121212;
  --border-color: #DDD;
}

[data-theme='dark'] {
  --primary-bg: #121212;
  --sidebar-bg: #000;
  --sidebar-text: rgba(255, 255, 255, 0.7);
  --sidebar-text-hover: #FFF;
  --container-bg: #1e1e1e;
  --text-color: #F5F5F5;
  --border-color: #333;
}

/* Novo Tema Verde Azulado Escuro (Antigo Jade) */
[data-theme='jade'] {
  --primary-bg: #e0f2f2;
  --sidebar-bg: #002d2d; /* Verde Azulado Bem Escuro */
  --sidebar-text: rgba(255, 255, 255, 0.8);
  --sidebar-text-hover: #4db6ac;
  --container-bg: #FFF;
  --text-color: #002d2d;
  --border-color: #b2dfdb;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
