:root {
  --primary-bg: #f8f8f8;
  --sidebar-bg: #181c2e;
  --container-bg: #FFF;
  --text-color: #000;
  --text-secondary: rgba(0,0,0,0.7);
  --border-color: #DDD;
  --header-title-bg: #FFF;
}

[data-theme='dark'] {
  --primary-bg: #121212;
  --sidebar-bg: #000000;
  --container-bg: #1e1e1e;
  --text-color: #E0E0E0;
  --text-secondary: rgba(255,255,255,0.7);
  --border-color: #333;
  --header-title-bg: #1e1e1e;
}

[data-theme='jade'] {
  --primary-bg: #e0f2f1;
  --sidebar-bg: #004d40;
  --container-bg: #ffffff;
  --text-color: #00241a;
  --text-secondary: rgba(0, 77, 64, 0.7);
  --border-color: #b2dfdb;
  --header-title-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

button { cursor: pointer; }
a { text-decoration: none; }
ul { list-style: none; }
